# ============================================================
# LLM Provider
# ============================================================

LLM_PROVIDER=azure

ANTHROPIC_API_KEY=


# ============================================================
# Azure OpenAI
# ============================================================

AZURE_OPENAI_API_KEY=CoCx
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_API_VERSION=
AZURE_OPENAI_DEPLOYMENT_NAME=
AZURE_OPENAI_EMBEDDING_DEPLOYMENT_NAME=

HEADLESS=false
SLOW_MO=500